<?xml version="1.0"?>
<model>
  <name>Drill hole #1</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Jesse</name>
   <email>me@my.email</email>
  </author>

  <description>
  Testing the use of blender for creation of drill hole models and terrain creation
  </description>
</model>
